.hero-context {
  @media (min-width: 1024px) {
    margin-left: 12em;
  }
}

.hero-box-top {
  padding-bottom: 40px;
}

.hero-box-mid {
}

.cards-services-contact {
}

.chardworkz-logo {
  font-family: 'Bebas Neue', cursive;
}

.social-links {
}

.footer-section{
  padding-bottom:8em
}
